.tb {
	position: relative;
	top: 30%;
	background: white;
	text-align: center;


}

.tb table{
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	top-margin: auto;
	border: 1px solid  rgb(224,236,244);

}

.tb table td{
	color: #000;
	width: 5em;
	padding: 5px;

}

.tb table th{
	background-color: rgb(78,178,210);
	padding: 7px;
}



.tb table tr.dark{
	background: rgb(224,236,244);
}

.blue.button{
	color:#0f4b6d;

	border:2px solid #84acc3 !important;

	/* A fallback background color */
	background-color: rgb(224,236,244);

	/* Specifying a version with gradients according to */


}

.blue.button:hover{
	background-color: rgb(78,178,210);
	color: rgb(224,236,244);
}

.button{
	font:15px Calibri, Arial, sans-serif;

	/* A semi-transparent text shadow */
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);

	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;

	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:10px 20px;

	background-repeat:no-repeat;

	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */

	background-position:bottom left;
	background-image:url('button_bg.png');

	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */

	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;

	/* Applying a default border raidus of 8px */

	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;

	/* A 1px highlight inside of the button */

	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;

	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */

	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
}

.button.small	{ font-size:0.8em;}

.button:hover{

	/* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/

	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
}

button:active{
	/* Moving the button 1px to the bottom when clicked */
	bottom:-1px;
}

.button.rounded{
	-moz-border-radius:4em;
	-webkit-border-radius:4em;
	border-radius:4em;
}
